* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  transition: all 1s;
}

/* Create Root heme */
:root {
  --text-color: white;
  --bg-color: #b02020;
  --header-color: #7d092e;
  --hover-bg-color: #ff5e5e;
  --btn-color: #09097d;
}

/* Nebula blue theme */
.nb-blue {
  --bg-color: #2020a1;
  --header-color: #060691;
  --hover-bg-color: #5252f2;
  --btn-color: #7d0909;
}
/* Nebula yellow */
.nb-yellow {
  --text-color: black;
  --bg-color: #ebeb21;
  --header-color: #44c412;
  --hover-bg-color: #f7f754;
  --btn-color: #aae364;
}

/* Add styles */
.bg,
body {
  background-color: var(--bg-color);
}

h1 {
  font-weight: 600;
}

* {
  color: var(--text-color);
}

.hover-bg:hover {
  background-color: var(--hover-bg-color);
}

.header {
  background-color: var(--header-color);
  padding: 0% 2%;
}

.card {
margin: 0px 4px;
  padding:
}
.btn {
  border: 2px solid transparent;
  margin: 8px 2%;
  padding: 3% 6%;
  background-color: var(--btn-color);
  border-radius: 18928px;
  font-size:20px;
  
}